.Notification {
  .notice {
    background-color: #38AEF0;
    color: #fff;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
  }

  .alert {
    background-color: #F35500;
    color: #fff;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
  }
}